.container {
    width: 100%;
    background: var(--dark);
    color: var(--dark);
    padding: 0 20px 0 20px;
}

.text {
    font-size: smaller;
}

.buttonTitle {
    border: 3px solid var(--blue);
    padding: 10px;
    margin: 20px;
    background: var(--lightBlue);
}

.buttonTitleSelected {
    @extend .buttonTitle;
    border: 3px solid var(--lightGrey);
}

.icon {
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid var(--solidBlack);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    opacity: 0.6;
    margin: 5px;
}

.iconDown {
    @extend .icon;
    transform: rotate(45deg);
}

.iconUp {
    @extend .icon;
    transform: rotate(-135deg);
}

.acordeon {
    transition-property: opacity, transform, height;
}

.acordeonOpen {
    @extend .acordeon;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.acordeonClose {
    @extend .acordeon;
    height: 0;
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.5s;
}

.barr {
    display: none;
    border: 1px solid var(--dark);
}

@media (min-width: 720px) {
    .container {
        width: 300px;
        color: var(--white);
    }
    .statement {
        font-size: smaller;
    }
    .buttonTitle {
        border: 0;
        padding: 0;
        background: 0;
    }
    .acordeon {
        height: 100%;
    }
    .barr {
        display: block;
    }
}