.itemsSection {
    display: block;
    margin-top: 15px;
}

.itemSection {
    display: block;
    margin-bottom: 25px;
}

.itemHeader {
    display: block;
    margin-bottom: 3px;
}

.dot {
    background: rgb(0, 175, 239);
    background: radial-gradient(circle, rgba(0, 175, 239, 1) 10%, rgb(39, 40, 51) 30%);
    height: 10px;
    width: 30px;
    margin-right: 10px;
    display: inline-block;
}

.description {
    padding-left: 40px;
    font-size: .9em;
}

.headerDescription {
    font-size: .9em;
}

.date {
    display: block;
    padding: 1px;
    color: var(--grey);
}

@media (min-width: 720px) {
    .description {
        font-size: 1em;
    }
    .date {
        font-size: .9em;
    }
    .itemsSection {
        margin-top: 15px;
    }
}