.headerPlace {
    border-bottom: 3px solid rgba(0, 175, 239, .5);
    display: block;
}

.date {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(0, 175, 239, .5);
}

@media (min-width: 720px) {
    .headerPlace {
        display: inline;
    }
    .container {
        margin: 10px;
    }
}