.headerPlace {
    border-bottom: 3px solid var(--lightBlue);
    display: block;
}

.date {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--lightBlue);
}

@media (min-width: 720px) {
    .headerPlace {
        display: inline;
    }
    .container {
        margin: 10px;
    }
}