.container {
    width: 100%;
    background: #272833;
    min-height: 250px;
    padding: 20px;
    color: white;
}

.skillsContainer {
    font-size: 1.4m;
    display: block;
}

@media (min-width: 720px) {
    .container {
        width: 300px;
    }
}