.container {
    width: 100%;
    background: #272833;
    min-height: 250px;
    padding: 20px;
    color: white;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.blue {
    height: 5px;
    width: 25px;
    background: rgb(0, 175, 239);
    display: inline-block;
}

.white {
    height: 5px;
    width: 25px;
    background: white;
    display: inline-block;
}

.barrs {
    display: block;
}

@media (min-width: 720px) {
    .container {
        width: 300px;
    }
    .skill {
        justify-content: space-between;
    }
}