    .container {
        color: var(--darkGrey);
        background: var(--darkBlue);
        flex: 2 0px;
        animation: Open reverse 1s;
        padding: 0 20px 0 20px;
    }
    
    .text {
        font-size: smaller;
    }
    
    .barr {
        border: 1px solid var(--darkGrey);
        display: none;
    }
    
    @media (min-width: 720px) {
        .container {
            min-height: 300px;
            height: 100%;
            padding: 20px 50px 0 20px;
            min-width: calc(100% - 300px);
            width: calc(100% - 300px);
        }
        .statement {
            font-size: smaller;
        }
        .barr {
            display: block;
        }
    }
    
    @media (min-width: 1600px) {
        .container {
            padding-right: 100px;
        }
    }