.italy {
    background: rgb(0, 140, 69);
    background: linear-gradient(90deg, rgba(0, 140, 69, 1) 33%, rgba(246, 246, 246, 1) 33%, rgba(246, 246, 246, 1) 66%, rgba(205, 33, 42, 1) 66%);
}

.italyLeft {
    @extend .italy;
    justify-content: flex-start;
}

.italyRight {
    @extend .italy;
    justify-content: flex-end;
}