.container {
    color: #272833;
    background: #fafafa;
    flex: 2 0px;
}

.section {
    font-size: small;
    display: flex;
}

.description {
    padding-left: 40px;
}

@media (min-width: 720px) {
    .container {
        padding: 20px 50px 0 20px;
        min-width: calc(100% - 300px);
    }
    .statement {
        font-size: smaller;
    }
    .itemSection {
        padding-left: 15px;
    }
    .baseLine {
        border-top: 3px solid rgba(0, 175, 239, .5);
        width: 130px;
        border-right: 3px solid rgba(0, 175, 239, .5);
    }
}

@media (min-width: 1600px) {
    .container {
        padding-right: 100px;
    }
}

@media (min-width: 1000px) {
    .baseLine {
        width: 130px;
    }
}