.imgProfile {
    object-fit: cover;
    width: 90%;
    object-position: top;
    border-right: 1px solid white;
}

.container {
    display: flex;
    background: rgba(0, 175, 239, 1);
    min-height: 250px;
    order: -1;
    width: 50%;
}

@media (min-width: 720px) {
    .imgProfile {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        height: 300px;
        min-height: 100%;
    }
    .container {
        padding: 0;
        background: #272833;
        max-width: 300px;
    }
}

@media (min-width: 1000px) {
    .imgProfile {
        width: 100%;
        box-shadow: none;
        height: 300px;
        border: 0;
    }
    .container {
        padding: 0;
        background: #272833;
        order: 0;
    }
}