.container {
    width: 100%;
    background: #272833;
    min-height: 250px;
    padding: 20px;
    color: white;
}

.personalContainer {
    font-size: 1.4m;
    display: block;
}

.barr {
    display: block;
}

.personal {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.linkedinLogo {
    height: 45px;
}

.linkedinQr {
    height: 65px;
}

@media (min-width: 720px) {
    .container {
        width: 300px;
    }
    .personal {
        display: flex;
        justify-content: space-between;
    }
    .barr {
        display: none;
    }
}