html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --mainYellow: #ffe600;
    --black: #333;
    --darkGrey: #666;
    --grey: #999;
    --lightGrey: #eee;
    --blue: #3483fa;
    --darkBlue: #272833;
    --lightBlue: #75aadb;
}