html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --blue: #00afef;
    --white: #ffffff;
    --lightGrey: #fafafa;
    --dark: #272833;
    --lightBlue: rgba(0, 175, 239, .5);
    --solidBlack: #000;
}