.containerCut {
    width: 100%;
    position: absolute;
    top: 0vh;
    height: 100%;
}

.container {
    background-size: cover;
    background-attachment: fixed, fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media (min-width: 600px) {
    .container {
        padding-bottom: 10vh;
        padding-top: 17vh;
        background-position: right;
        background-size: auto;
    }
    .containerCut {
        height: 40vw;
    }
}