.container {
    color: #272833;
    background: #eaeaea3b;
    padding: 20px;
    flex: 2 0px;
    font-family: 'Roboto Mono', monospace;
}

.education {
    font-size: small;
    display: block;
}

.barr {
    border: 1px solid #272833;
}

@media (min-width: 720px) {
    .container {
        min-height: 300px;
        height: 100%;
        padding: 20px 100px 0 20px;
        min-width: calc(100% - 250px);
        width: calc(100% - 250px);
    }
    .statement {
        font-size: smaller;
    }
}